@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #64ffda;
  --light-navy: #233554;
  --navy: #112240;
  --dark-navy: #15223e;
  --heading: #ccd6f6;
  --para: #8892b0;
  --hover: #1c303f;
}

@theme inline {
  --color-primary: var(--primary);
  --color-light-navy: var(--light-navy);
  --color-navy: var(--navy);
  --color-dark-navy: var(--dark-navy);
  --color-heading: var(--heading);
  --color-para: var(--para);
  --color-hover: var(--hover);
  --font-open: var(--font-open);
  --font-noto: var(--font-noto);
  --font-source: var(--font-source);
}

body {
  @apply bg-[#0e192d] m-0 p-0 antialiased;
}

/* Text Selection */
::selection {
  @apply text-[#c2cbe8] bg-[#273552];
}

::-webkit-selection {
  @apply text-[#c2cbe8] bg-[#273552];
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  @apply w-[5px];
}

body::-webkit-scrollbar-track {
  @apply bg-[var(--dark-navy)] rounded-md;
}

body::-webkit-scrollbar-thumb {
  @apply bg-[var(--primary)] rounded-md;
}

@layer utilities {
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .animate-slide-in {
    @apply animate-[slide-in_0.5s_both];
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    @apply animate-[fade-in_0.5s_both];
  }

  @keyframes slide-left-bar {
    from {
      transform: translateX(-50px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes slide-right-bar {
    from {
      transform: translateX(50px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  .animate-slide-in-left-bar {
    animation: slide-left-bar 0.5s both;
  }

  .animate-slide-in-right-bar {
    animation: slide-right-bar 0.5s both;
  }

  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

@layer components {
  #about-section > h1,
  #about-section > div,
  #experience-section > h1,
  #experience-section > div,
  #major-projects-section > h1,
  #major-project-odd,
  #major-project-even,
  #minor-projects-section > h1,
  #minor-project,
  #github-footprints-section > h1,
  #commit-chart,
  #pr-chart,
  #language-chart,
  #contact-section {
    @apply opacity-0;
  }
}
