@import 'tailwindcss';

:root {
  --primary: #64ffda;
  --light-navy: #233554;
  --navy: #112240;
  --dark-navy: #15223e;
  --heading: #ccd6f6;
  --para: #8892b0;
  --hover: #1c303f;
}

@theme inline {
  --primary: #64ffda;
  --light-navy: #233554;
  --navy: #112240;
  --dark-navy: #15223e;
  --heading: #ccd6f6;
  --para: #8892b0;
  --hover: #1c303f;
  --font-open: var(--font-open);
  --font-mono: var(--font-mono);
  --font-source: var(--font-source);
}

body {
  @apply bg-[#0e192d] m-0 p-0 antialiased;
}

/* Text Selection */
::selection {
  @apply text-[#c2cbe8] bg-[#273552];
}

::-webkit-selection {
  @apply text-[#c2cbe8] bg-[#273552];
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  @apply w-[5px];
}

body::-webkit-scrollbar-track {
  @apply bg-[var(--navy)] rounded-md;
}

body::-webkit-scrollbar-thumb {
  @apply bg-[var(--primary)] rounded-md;
}
