@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #64ffda;
  --light-navy: #233554;
  --navy: #112240;
  --dark-navy: #15223e;
  --heading: #ccd6f6;
  --para: #8892b0;
  --hover: #1c303f;
}

@theme inline {
  --color-primary: var(--primary);
  --color-light-navy: var(--light-navy);
  --color-navy: var(--navy);
  --color-dark-navy: var(--dark-navy);
  --color-heading: var(--heading);
  --color-para: var(--para);
  --color-hover: var(--hover);
  --font-open: var(--font-open);
  --font-noto: var(--font-noto);
  --font-source: var(--font-source);
}

body {
  @apply bg-[#0e192d] m-0 p-0 antialiased;
}

/* Text Selection */
::selection {
  @apply text-[#c2cbe8] bg-[#273552];
}

::-webkit-selection {
  @apply text-[#c2cbe8] bg-[#273552];
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  @apply w-[5px];
}

body::-webkit-scrollbar-track {
  @apply bg-[var(--navy)] rounded-md;
}

body::-webkit-scrollbar-thumb {
  @apply bg-[var(--primary)] rounded-md;
}

@layer utilities {
  @keyframes scroll-fade-in {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .animate-scroll-fade-in {
    @apply animate-[scroll-fade-in_0.5s_both];
  }
}

@layer components {
  #contact-section {
    @apply opacity-0;
  }
}
