@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #64ffda;
  --light-navy: #233554;
  --navy: #112240;
  --dark-navy: #15223e;
  --heading: #ccd6f6;
  --para: #8892b0;
  --hover: #1c303f;
}

@theme inline {
  --color-primary: var(--primary);
  --color-light-navy: var(--light-navy);
  --color-navy: var(--navy);
  --color-dark-navy: var(--dark-navy);
  --color-heading: var(--heading);
  --color-para: var(--para);
  --color-hover: var(--hover);

  --font-open-sans: var(--font-open-sans, 'Open Sans', sans-serif);
  --font-noto-sans: var(--font-noto-sans, 'Noto Sans SC', sans-serif);
  --font-source-sans: var(--font-source-sans, 'Source Sans 3', sans-serif);
  --font-sf-mono: var(--font-sf-mono, 'SF Mono', monospace);
}

body {
  @apply bg-[#0e192d] m-0 p-0 antialiased font-source-sans;
}

/* Text Selection */
::selection {
  @apply text-[#c2cbe8] bg-[#273552];
}

::-webkit-selection {
  @apply text-[#c2cbe8] bg-[#273552];
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  @apply w-[5px];
}

body::-webkit-scrollbar-track {
  @apply bg-[var(--dark-navy)] rounded-md;
}

body::-webkit-scrollbar-thumb {
  @apply bg-[var(--primary)] rounded-md;
}

@layer utilities {
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .animate-slide-in {
    @apply animate-[slide-in_0.5s_both];
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    @apply animate-[fade-in_0.5s_both];
  }

  @keyframes slide-left-bar {
    from {
      transform: translateX(-50px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes slide-right-bar {
    from {
      transform: translateX(50px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  .animate-slide-in-left-bar {
    animation: slide-left-bar 0.5s both;
  }

  .animate-slide-in-right-bar {
    animation: slide-right-bar 0.5s both;
  }

  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  @keyframes slideInNavItem {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .animate-slide-in-nav-item {
    animation: slideInNavItem 0.5s both;
  }

  /* Rotate Down Animation */
  @keyframes rotate-down {
    from {
      transform: translateY(0px) rotate(0deg);
    }
    to {
      transform: translateY(7.9px) rotate(45deg);
    }
  }
  .animate-rotate-down {
    @apply animate-[rotate-down_0.4s_forwards];
  }

  /* Rotate Up Animation */
  @keyframes rotate-up {
    from {
      transform: translateY(0px) rotate(0deg);
    }
    to {
      transform: translateY(-7.9px) rotate(-45deg);
    }
  }
  .animate-rotate-up {
    @apply animate-[rotate-up_0.4s_forwards];
  }

  /* Reverse Rotate Down */
  @keyframes remove-rotate-down {
    from {
      transform: translateY(7.9px) rotate(45deg);
    }
    to {
      transform: translateY(0px) rotate(0deg);
    }
  }
  .animate-remove-rotate-down {
    @apply animate-[remove-rotate-down_0.4s_forwards];
  }

  /* Reverse Rotate Up */
  @keyframes remove-rotate-up {
    from {
      transform: translateY(-7.9px) rotate(-45deg);
    }
    to {
      transform: translateY(0px) rotate(0deg);
    }
  }
  .animate-remove-rotate-up {
    @apply animate-[remove-rotate-up_0.4s_forwards];
  }

  @keyframes slideInHeroItem {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .animate-slide-in-hero-item {
    animation: slideInHeroItem 0.5s both;
  }

  /* custom delays for hero section (maybe can find a better way to do this) */

  .hero-delay-300 {
    animation-delay: 0.3s;
  }
  .hero-delay-400 {
    animation-delay: 0.4s;
  }
  .hero-delay-500 {
    animation-delay: 0.5s;
  }
  .hero-delay-600 {
    animation-delay: 0.6s;
  }
  .hero-delay-700 {
    animation-delay: 0.7s;
  }
  .hero-delay-1300 {
    animation-delay: 1.3s;
  }

  /* Responsive delays */
  @media (min-width: 768px) {
    /* md */
    .md\:hero-delay-900 {
      animation-delay: 0.9s;
    }
    .md\:hero-delay-1000 {
      animation-delay: 1s;
    }
    .md\:hero-delay-1100 {
      animation-delay: 1.1s;
    }
    .md\:hero-delay-1200 {
      animation-delay: 1.2s;
    }
    .md\:hero-delay-1300 {
      animation-delay: 1.3s;
    }
  }
}

@layer components {
  #about-heading,
  #about-content,
  #experience-heading,
  #experience-content,
  #major-projects-heading,
  #major-project-odd,
  #major-project-even,
  #minor-projects-heading,
  #minor-project,
  #github-footprints-heading,
  #commit-chart,
  #pr-chart,
  #language-chart,
  #contact-section,
  #maintenance-section {
    @apply opacity-0;
  }
}

/* Define Custom Fonts */
@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMonoLight.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMonoRegular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMonoMedium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMonoSemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMonoBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMonoHeavy.woff') format('woff');
  font-weight: 800;
  font-display: swap;
}
