.showContact {
  animation-name: contactFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes contactFadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
