.experience_container {
  position: relative;
  width: 75%;
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
  box-sizing: border-box;
}

.showExperienceHeading {
  animation-name: experienceFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.experience_container h1 {
  margin: 0px;
  font-family: 'Noto Sans SC', sans-serif;
  color: var(--heading);
  font-size: 28px;
  display: flex;
  align-items: center;
  gap: 15px;
  opacity: 0;
  font-weight: 600;
}

.experience_container h1::before {
  content: '02.';
  font-family: 'SF Mono', monospace;
  font-size: 22px;
  color: var(--primary);
  font-weight: 300;
  padding-top: 5px;
}

.experience_container h1::after {
  content: '';
  height: 1px;
  width: 25%;
  background-color: var(--light-navy);
  margin-top: 5px;
}

@keyframes experienceFadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* ------responsiveness----- */

@media screen and (max-width: 1080px) {
  .experience_container {
    width: 100%;
    padding: 0px 100px;
  }

  .experience_container h1 {
    font-size: 26px;
  }

  .experience_container h1::before {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .experience_container {
    padding: 0px 50px;
  }

  .experience_container h1 {
    font-size: 24px;
    gap: 8px;
  }

  .experience_container h1::before {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .experience_container {
    padding: 0px 20px;
  }

  .experience_container h1 {
    font-size: 22px;
  }

  .experience_container h1::before {
    font-size: 16px;
  }

  .experience_container h1::after {
    width: 22%;
  }
}
