.footer_container {
  position: relative;
  z-index: 2;
  align-items: center;
  text-align: center;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px 14px 28px 14px;
}

.footer_container ul {
  display: none;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer_container ul li {
  transition: 0.2s ease-in-out;
  color: var(--para);
  cursor: pointer;
}

.footer_container ul li:hover {
  color: var(--primary);
}

.footer_container p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: var(--para);
  font-weight: 600;
  letter-spacing: 1.5px;
  word-spacing: 2.5px;
}

.footer_container p a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: var(--para);
  font-weight: 600;
  letter-spacing: 1.5px;
  word-spacing: 2.5px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.footer_container p a:hover {
  color: var(--primary);
}

/* -------responsiveness------- */

@media screen and (max-width: 768px) {
  .footer_container ul {
    display: flex;
  }

  .footer_container p {
    font-size: 11.5px;
  }

  .footer_container p a {
    font-size: 11.5px;
  }
}

@media screen and (max-width: 650px) {
  .footer_container {
    padding: 0px 14px 20px 14px;
  }

  .footer_container p a {
    font-size: 11px;
  }

  .footer_container a {
    font-size: 11px;
  }
}

@media screen and (max-width: 480px) {
}
