.maintenance_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
}

.maintenance_container h1 {
  font-size: 50px;
  font-family: 'Noto Sans SC', sans-serif;
  color: var(--heading);
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.maintenance_container p {
  font-size: 16;
  color: var(--para);
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .maintenance_container h1 {
    font-size: 40px;
  }
  .maintenance_container {
    gap: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .maintenance_container h1 {
    font-size: 29px;
  }
}
