.minor_projects_parent {
  z-index: 2;
  position: relative;
  margin: auto;
  margin-top: 150px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 60px;
  transition: opacity 0.5s ease-in-out;
  box-sizing: border-box;
}

.minor_projects_parent h1 {
  margin: 0px;
  font-family: 'Noto Sans SC', sans-serif;
  color: var(--heading);
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  opacity: 0;
  font-weight: 600;
}

.showMinorProjectsHeading {
  animation-name: minorProjectsHeadingFadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes minorProjectsHeadingFadeIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.minor_projects_parent h1::before {
  content: '';
  height: 1px;
  width: 19%;
  background-color: var(--light-navy);
  margin-top: 5px;
}

.minor_projects_parent h1::after {
  content: '';
  height: 1px;
  width: 19%;
  background-color: var(--light-navy);
  margin-top: 5px;
}

.project_line {
  margin-top: 1px;
  width: 29%;
  height: 1px;
  border-bottom: 1px solid #8892b0;
}

.minor_projects_container {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  z-index: 2;
  position: relative;
}

.minor_projects_parent button {
  text-decoration: none;
  font-family: 'SF Mono', monospace;
  font-size: 14px;
  color: var(--primary);
  font-weight: 300;
  background-color: transparent;
  border-radius: 3.5px;
  border: 1px solid var(--primary);
  padding: 12px 25px;
  margin: 0px auto 0px auto;
  transition: 0.3s ease-in-out;
  letter-spacing: 1px;
  cursor: pointer;
}

.minor_projects_parent button:hover {
  background-color: var(--hover);
}

/* ------responsiveness------ */

@media only screen and (max-width: 1250px) {
  .minor_projects_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1080px) {
  .minor_projects_parent {
    width: 100%;
    padding: 0px 100px;
    gap: 50px;
  }

  .minor_projects_parent h1 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .minor_projects_parent {
    width: 100%;
    padding: 0px 50px;
    gap: 40px;
  }

  .minor_projects_parent h1 {
    font-size: 22px;
  }

  .minor_projects_parent button {
    font-size: 13.5px;
  }
}

@media only screen and (max-width: 650px) {
  .minor_projects_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .minor_projects_parent h1 {
    justify-content: flex-start;
  }

  .minor_projects_parent h1::before {
    display: none;
  }

  .minor_projects_parent button {
    font-size: 13px;
  }
}

@media only screen and (max-width: 480px) {
  .minor_projects_parent {
    padding: 0px 20px;
  }

  .minor_projects_parent h1 {
    font-size: 20px;
  }

  .minor_projects_parent h1 {
    justify-content: center;
  }

  .minor_projects_parent h1::after {
    display: none;
  }
}
