.Top_Button_Container button {
  background-color: #15223e;
  color: var(--primary);
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  /* border: 1px solid #8892B0; */
  border: 0;
  position: fixed;
  z-index: 5;
  bottom: 20px;
  right: 90px;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  box-sizing: border-box;
  animation-name: topButtonFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  opacity: 0;
  box-shadow: 0 0px 13px 2px rgba(2, 12, 27, 0.7);
}

@keyframes topButtonFadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* -----responsiveness----- */

@media only screen and (max-width: 1080px) {
  .Top_Button_Container button {
    right: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .Top_Button_Container button {
    right: 30px;
    bottom: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .Top_Button_Container button {
    bottom: 10px;
    right: 10px;
  }
}
